* {
    font-size: 16px;
    text-align: center;
}
h1 {
    font-family: 'Indie Flower', cursive;
}

#app, .container-fluid {
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
}

#logo {
    display: flex;
    align-items: center;
    height: 20%;
    background-color: burlywood
}

#userPhoto {    
    display: flex;
    justify-content: space-evenly;
}

img {
    max-width: 25%;
}